<header class="app-header">
  <!-- Search -->
  <div class="app-header__search">
    <span class="material-symbols-outlined app-header__search-icon"
      >search</span
    >
    <input
      type="text"
      class="app-header__search-input"
      [placeholder]="'LAYOUT.HEADER.SEARCH_PLACEHOLDER' | translate"
      [aria-label]="'LAYOUT.HEADER.SEARCH_ARIA' | translate"
    />
  </div>

  <!-- Actions -->
  <div class="app-header__actions">
    <button
      class="app-header__icon-btn"
      [attr.aria-label]="'LAYOUT.HEADER.THEME_TOGGLE_ARIA' | translate"
      (click)="themeService.toggleTheme()"
    >
      <span class="material-symbols-outlined">
        {{ themeService.currentTheme() === 'light' ? 'dark_mode' : 'light_mode'
        }}
      </span>
    </button>
    <app-language-selector />

    <div
      class="app-header__avatar"
      [attr.aria-label]="'LAYOUT.HEADER.PROFILE_ARIA' | translate"
    >
      @if (usersRepository.currentUser()?.avatar_url) {
      <img
        [src]="usersRepository.currentUser()?.avatar_url"
        [alt]="'LAYOUT.HEADER.PROFILE_ARIA' | translate"
        class="app-header__avatar-img"
      />
      } @else {
      <span class="material-symbols-outlined">account_circle</span>
      }
    </div>
  </div>
</header>
