@import "leaflet/dist/leaflet.css";

:host {
  display: block;
  height: 100%;
  min-height: 360px;
}

#spraying-session-map {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 18px;
}

.leaflet-container {
  background-color: var(--color-surface-container-low);
}

.leaflet-control-zoom {
  border: none !important;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1) !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: var(--color-surface-bright) !important;
  color: var(--color-on-surface-variant) !important;
  border: none !important;
}

.leaflet-bar a:first-child {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.leaflet-bar a:last-child {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}
